body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

}

.logo {
    width: 2px;
    height: 2px;
}

.top-bar {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 8px;
}

header input[type="text"] {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
}

.menu-icons a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

nav {
    background: #f9f9f9;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.produtos-destaque {
    padding: 40px;
    text-align: center;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;

}

.produto {
    width: 250px;
    height: 420px;
    /* Altura fixa */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    box-sizing: border-box;

}

.produto img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
}

.produto h3 {
    font-size: 16px;
    margin: 10px 0 5px;
    min-height: 40px;
}

.produto p {
    font-weight: bold;
    margin-bottom: 10px;
}

.produto button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.produto:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

